<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
        <exclude>
            <file>src/SylvainCombes/Lcid/Resources/datas-manual.php</file>
            <directory suffix=".php">./src/SylvainCombes/Lcid/Command/</directory>
        </exclude>
    </source>

    <php>
        <ini name="precision" value="8"/>
    </php>
</phpunit>
